dlc.simg
dlc-working-template
__pycache__
test-folder
virgin-test-folder
test-folder-output
bottom-network
*.avi
side-network
dilucid-configuration
*.mp4
.idea/workspace.xml
WR51_v_cam_0_v050.*
mne-side-crf-*
resnet*.ckpt
below-crf-51-model-3
dave-liu-testing
*-frames
*-stderr.txt
*-stdout.txt
lukeFace-network
